# R and RStudio files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# Compiled or temporary files
*.o
*.so
*.dll
*.tar.gz
*.zip
*.Rcheck/

# Package build artefacts
.Rbuildignore
build/
doc/
html/
