import("methods")
import("terra")
importFrom("graphics", "abline", "polygon")
importFrom("stats", "lm", "mahalanobis", "sd", "var")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")

export(bbRaster)
export(ea_spline)
export(ea_rasSp_fast)
export(fit_mpspline_optimized)
export(precompute_spline_structures)
export(plot_soilProfile)
export(plot_ea_spline)
export(goof)
export(goofcat)
